.absolute {
    position: absolute;
    top:0;
}

.tile {
    height:20px !important;
    width:20px !important;
    font-size:12px;
    top:0 !important;
    bottom:30px;
    left:0;
    right:30px;
    position:relative;
    display:inline-block;
    padding:auto;


}

.player {
  
    color:red;
    background:darkgrey;
}

.stair-up {
    color:black;
    background:darkgrey;
   

}

.stair-down {
color:black;
background:darkgrey;

}

.wall {
 
  background:darkslategrey; 
}

.floor {
    background:darkgrey;
}
